<div class="container-fluid">
  <div class="banner">
    <!--   <img src="/images/support-landing-page/resources/resources-v1.jpg" srcset="/images/support-landing-page/resources/resources-v1-xs.jpg 576w" class="img-fluid">   -->

    <img
      srcset="
        /images/support-landing-page/resources/resources-v1-xs.jpg  576w,
        /images/support-landing-page/resources/resources-v1-sm.jpg  768w,
        /images/support-landing-page/resources/resources-v1-md.jpg  992w,
        /images/support-landing-page/resources/resources-v1-lg.jpg 1200w,
        /images/support-landing-page/resources/resources-v1-xl.jpg 1920w
      "
      class="img-fluid"
      sizes="100vw"
      src="/images/support-landing-page/resources/resources-v1.jpg"
      alt="creating blueprints"
      class="img-fluid"
    />

    <div class="top-center-container" class="container-fluid">
      <div class="light-text">
        <h1>Need Help</h1>
        <h2>See below for guides and instructions</h2>
        <!--      <a href="/products" class="btn btn-sm btn-elandel">All Products <i class="fal fa-chevron-right"></i></a>  -->
      </div>
      <!-- .light-text -->
    </div>
    <!-- .img-fluid -->
  </div>
  <!-- .banner -->
</div>
<!-- .container-fluid -->

<div class="container">
  <div
    id="landing-page-grid-container"
    class="fixed-grid-container d-flex flex-wrap"
  >
    <div class="grid-item-container">
      <div class="grid-item">
        <img
          src="/images/support-landing-page/resources/resources-icon-elandel.jpg"
          class="img-fluid"
        />
        <h2>
          EL & EL Wood Products
        </h2>
        <div class="description-container">
          <ul>
            <li>
              <a href="/about/working-with-moulding"
                ><i class="fas fa-caret-right"></i> Working with Mouldings</a
              >
            </li>
            <li>
              <a href="/about/majestic-mantels-finishing-instructions"
                ><i class="fas fa-caret-right"></i> Majestic Mantels Finishing
                Instructions</a
              >
            </li>
            <li>
              <a href="/about/how-to-order-flex"
                ><i class="fas fa-caret-right"></i> Valuflex: How to Order
                Curved Mouldings</a
              >
            </li><li>
              <a href="/about/Painting-and-staining-guide-valuflex"
                ><i class="fas fa-caret-right"></i> Valuflex: Painting and Staining guide</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- .grid-item -->
    </div>
    <!-- .grid-item-container -->

    <div class="grid-item-container">
      <div class="grid-item">
        <img
          src="/images/support-landing-page/resources/resources-icon-whiteriver.jpg"
          class="img-fluid"
        />
        <h2>
          White River Hardwoods
        </h2>
        <div class="description-container">
          <ul>
            <li>
              <a href="/about/wr-woodstain"
                ><i class="fas fa-caret-right"></i> Wood Stain Compatibility</a
              >
            </li>
            <li>
              <a href="/about/moulding-installation-information"
                ><i class="fas fa-caret-right"></i> Moulding Installation
                Information</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- .grid-item -->
    </div>
    <!-- .grid-item-container -->

    <div class="grid-item-container">
      <div class="grid-item">
        <img
          src="/images/support-landing-page/resources/resources-icon-masonite.jpg"
          class="img-fluid"
        />
        <h2>Masonite<sup>®</sup> CAD</h2>
        <div class="description-container">
          <ul>
            <li>
              <a href="/content/pdf/cad-drawing/1.2Belleville68.pdf"
                ><i class="fas fa-caret-right"></i> Belleville 6/8 CAD
              </a>
            </li>
            <li>
              <a href="/content/pdf/cad-drawing/1.2Belleville80.pdf"
                ><i class="fas fa-caret-right"></i> Belleville 8/0 CAD
              </a>
            </li>
            <li>
              <a href="/content/pdf/cad-drawing/2.1BellevilleSm68.pdf"
                ><i class="fas fa-caret-right"></i> Belleville 6/8 CAD - small
              </a>
            </li>
            <li>
              <a href="/content/pdf/cad-drawing/2.1BellevilleSm80.pdf"
                ><i class="fas fa-caret-right"></i> Belleville 8/0 CAD - small
              </a>
            </li>
            <li>
              <a href="/content/pdf/cad-drawing/1.1Barrington68.pdf"
                ><i class="fas fa-caret-right"></i> Barrington® Sierra™ 6/8 CAD
              </a>
            </li>
            <li>
              <a href="/content/pdf/cad-drawing/1.1Barrington80.pdf"
                ><i class="fas fa-caret-right"></i> Barrington® Sierra™ 8/0 CAD
              </a>
            </li>
            <li>
              <a
                href="/content/pdf/cad-drawing/heritage-craftsman-tech-spec-manual.pdf"
                ><i class="fas fa-caret-right"></i> Heritage CAD
              </a>
            </li>
            <li>
              <a
                href="/content/pdf/cad-drawing/vistagrande-flush-glazed-premium-spec-tech-sheet.pdf"
                ><i class="fas fa-caret-right"></i> VistaGrande CAD
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- .grid-item -->
    </div>
    <!-- .grid-item-container -->

    <div class="grid-item-container">
      <div class="grid-item">
        <img
          src="/images/support-landing-page/resources/resources-icon-masonite.jpg"
          class="img-fluid"
        />
        <h2>Masonite<sup>®</sup> Tech Info</h2>
        <div class="description-container">
          <ul>
            <li>
              <a
                href="/content/pdf/tech-info/energy-performance-vistagrande.pdf"
                ><i class="fas fa-caret-right"></i> VistaGrande Energy
                Performance
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- .grid-item -->
    </div>
    <!-- .grid-item-container -->

    <div class="grid-item-container">
      <div class="grid-item">
        <img
          src="/images/support-landing-page/resources/resources-icon-simpson.jpg"
          class="img-fluid"
        />
        <h2>
          Simpson Door Company
        </h2>
        <div class="description-container">
          <ul>
            <li>
              <a href="/about/prep-for-finish"
                ><i class="fas fa-caret-right"></i> Options & Preparation for
                Finishing</a
              >
            </li>
            <li>
              <a href="/about/exterior-finishing"
                ><i class="fas fa-caret-right"></i> Exterior Finishing</a
              >
            </li>
            <li>
              <a href="/about/fitting-hanging"
                ><i class="fas fa-caret-right"></i> Fitting and Hanging</a
              >
            </li>
            <li>
              <a href="/about/handling-maintenance"
                ><i class="fas fa-caret-right"></i> Handling & Maintenance</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- .grid-item -->
    </div>
    <!-- .grid-item-container -->

    <div class="grid-item-container">
      <div class="grid-item">
        <img
          src="/images/support-landing-page/resources/resources-icon-prop65.jpg"
          class="img-fluid"
        />
        <h2>
          Proposition 65
        </h2>
        <div class="description-container">
          <ul>
            <li>
              <a href="/about/prop-65"
                ><i class="fas fa-caret-right"></i> About Prop 65</a
              >
            </li>
            <li>
              <a
                href="/images/support-landing-page/prop-65/p65_warning_sign.pdf"
                ><i class="fas fa-caret-right"></i> Warning Sign</a
              >
            </li>
            <li>
              <a
                href="/images/support-landing-page/prop-65/EL-EL_Prop65_Acknowledgement_Form.pdf"
                ><i class="fas fa-caret-right"></i> Acknowledgement Form</a
              >
            </li>
            <li>
              <a href="https://oehha.ca.gov/proposition-65"
                ><i class="fas fa-caret-right"></i> Prop 65 Description</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- .grid-item -->
    </div>
    <!-- .grid-item-container -->
  </div>
  <!-- .grid-container -->
</div>
<!-- #filtered-products-container -->
